.container {
    padding: 50px;
}

.to_hidden{
    visibility: hidden
}

.to_show{
    visibility: visible;
}

.solutions{
    border-style: solid;
    background-color: #ffdbc8;
    ;
}

.answers{
    border-style: solid;
    background-color: #2aa500;
    color: white;
}

.cabecera .row > div {
    height: 100px;
    border: 2px solid black;
}

/*.cabecera .mark {
    border: 3px solid red;
}*/

.cabecera .row .tiempo {
    border-width: 2px 0;
}

.instruccion p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contador {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
