.container {
    padding: 50px;
}

.to_hidden{
    visibility: hidden
}

.to_show{
    visibility: visible;
}

.solutions{
    border-style: solid;
    background-color: #ffdbc8;
    ;
}

.answers{
    border-style: solid;
    background-color: #2aa500;
    color: white;
}

.cabecera .row > div {
    height: 100px;
    border: 2px solid black;
}

/*.cabecera .mark {
    border: 3px solid red;
}*/

.cabecera .row .tiempo {
    border-width: 2px 0;
}

.scroll{
    overflow-y: auto;
    height: calc(100vh - 200px);
}

.instruccion p {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}

.cabecera .texto-cabecera {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nota {
    font-size: 50px;
}

code {
    color: blue;
}

.fa-solid {
    display: none;
}

.correcta {
    color: orange;
    font-weight: bold
}

.correcta code {
    color: orange;
    font-weight: bold
}

.acertada {
    color: green;
    font-weight: bold;
}

.acertada code {
    color: green;
    font-weight: bold
}

.acertada .fa-check {
    display: inline-block;
}

.fallada {
    color: red;
    font-weight: bold;
}

.fallada code {
    color: red;
    font-weight: bold
}

.fallada .fa-xmark {
    display: inline-block;
}
